

h1 {
    text-align: center;
    margin-top: .5em;
    margin-bottom: .9em;
    text-shadow: 3px 3px #ff4893;
    font-weight: 800;

}
form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#clear-results {
    width: 10em;
}


.recent-search {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px 0px;
}